body{
  background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: auto;
}


.cell{
  display: table-cell;
  background-color: white;
  
  height: 10px;
  width: 10px;
}

.container1{
  border: 5px solid black;
  display: inline-block;
}

.colorCell{
  display: table-cell;
  background-color: white;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.emptyCell{
  display: table-cell;
  background-color: white;
  height: 20px;
  width: 20px;
}

